@model Installer_PM_Comms.Models.Job_Installs

@{
    ViewData["Title"] = "Directions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Directions</h1>
<div id="mapDirections">
    <script>
        function initDirections() {
            var lat2;
            var lng2;
            var geocoder = new google.maps.Geocoder();
            var installerLocation = '@Model.Installer.Address.StreetName' + '@Model.Installer.Address.City' + '@Model.Installer.Address.State' + '@Model.Installer.Address.ZipCode';
            geocoder.geocode({
            address: location
            }, function (locResult) {
            console.log(locResult);
            lat2 = locResult[0].geometry.location.lat();
            lng2 = locResult[0].geometry.location.lng();
            });

            var directionsService = new google.maps.DirectionsService();
            var directionsRenderer = new google.maps.DirectionsRenderer();
            var startingLocation = new google.maps.LatLng(lat2, lng2);
            var mapOptions = {
                zoom: 7,
                center: startingLocation
            }
            var directionsMap = new google.maps.Map(document.getElementById('mapDirections'), mapOptions);
            directionsRenderer.setMap(directionsMap);
        }

        function calcRoute() {
            var start = (lat2, lng2);
            var end = '@Model.Job.Client.Address.StreetName' + '@Model.Job.Client.Address.City' + '@Model.Job.Client.Address.State' + '@Model.Job.Client.Address.ZipCode';
            var request = {
                origin: start,
                destination: end,
                travelMode: 'DRIVING'
            };
            directionsService.route(request, function (result, status) {
                if (status == 'OK') {
                    directionsRenderer.setDirections(result);
                }
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfc1qezcE30ny6OK0tm64i4JE2HqJi7dw&callback=initDiretions"
            async defer></script>
</div>
<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Back</a> |
</div>


            var geocoder = new google.maps.Geocoder();
            var installerLocation = '@Model.Installer.Address.StreetName' + '@Model.Installer.Address.City' + '@Model.Installer.Address.State' + '@Model.Installer.Address.ZipCode';
            geocoder.geocode({
            address: location
            }, function (locResult) {
            console.log(locResult);
            var lat2 = locResult[0].geometry.location.lat();
            var lng2 = locResult[0].geometry.location.lng();
            var latlng2 = (lat2, long2)
            });
